#POSTGRES settings
POSTGRES_USER=<your_user>
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=<your_db_name>
#DB settings
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=<host>
TYPEORM_PORT=<port>
TYPEORM_USERNAME=<user_name>
TYPEORM_PASSWORD=<password>
TYPEORM_DATABASE=<db>
TYPEORM_SYNCHRONIZE=false
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_MIGRATIONS=dist/migrations/*.js
TYPEORM_MIGRATIONS_TABLE_NAME=project_migrations
TYPEORM_MIGRATIONS_RUN=true